section{
    width:500px;
    margin: 0 auto;
    text-align: justify;


}
section> p{
    color: #ececec;
    line-height: 150%;
    background-color: rgba(0,0,0, .7);
    border-radius: 5px;
    padding: 5px 15px;


}

#bio{
    color: #141414;
    font-weight: lighter;
}


button{
    width: 50%;
    height: 25px;
    background-color: #353a3d;
    color: #ffffff;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color .75s ease;
    margin: 2%;
    border-radius: 25px;
    text-shadow: 1px 1px 1px #8b8b8b;
}

button:hover{
    background-color: #000ed0;
    color: #ffffff;
    font-weight: bold;
}

button:active{
    background-color: #c9d026;
    color: #000;
}

button:focus{
    background-color: #af0a00;
    color: #ffffff;
}