
main> h2{
    color: #dfdfdf;
    margin: 80px 20px 20px 20px;

}

form{
    margin: 20px;
}

::-webkit-input-placeholder{
    text-transform: uppercase;
}


input{
    width: 32%;
    height: 20px;
    margin: 10px 0;
}

textarea{
    width: 100%;
    height: 300px;
}

#submit{
    width: 20%;
    height: 25px;
    background-color: #353a3d;
    color: #ffffff;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color .75s ease;
    margin: 2%;
    border-radius: 25px;
    text-shadow: 1px 1px 1px #8b8b8b;
}

#submit:hover{
    background-color: #000ed0;
    color: #ffffff;
    font-weight: bold;
}

#submit:active{
    background-color: #c9d026;
    color: #000;
}

#submit:focus{
    background-color: #af0a00;
    color: #ffffff;
}