h2{
    color: #931100;
    font-weight: lighter;
    text-align: center;
}

section> a img {
    border: none;
}

section> a {
    color: #fff;
}

section> a:hover {
    color: #bbb;
}

.clear_both {
    clear: both;
    line-height: 1px;
}

.gallery_data {
    padding: 40px;
    display: none;
}

.gallery_preload_area {
    display: none;
}

.gallery_container {
    width: 960px;
    margin: 20px auto 0 auto;
}

.gallery_content {
    margin: 0;
    padding: 15px 0 1px 0;
}

.gallery_thumbnails {
    width: 500px;
    margin-left: 40px;
    float: left;
}

.gallery_thumbnails a {
    display: block;
    height: 75px;
    width: 75px;
    float: left;
    border: 1px solid #555;
    margin: 0 23px 23px 0;
}

.gallery_thumbnails a:hover {
    border-color: #fff;
}

.gallery_thumbnails a.selected {
    border-color: #fff;
}

.gallery_preview {
    width: 375px;
    height: 375px;
    float: left;
}

.gallery_preview a {
    display: block;
    width: 375px;
    height: 375px;
    border: 1px solid #555;
}

.gallery_preview a:hover {
    border-color: #fff;
}

section> a.zoom {
    font-size: .8em;
    background: url(../img/link_zoom.png) no-repeat 0 0;
    padding: 0 0 5px 20px;
    text-transform: uppercase;
    text-decoration: none;
}

footer{
    clear: left;
}