
/***** The Page ****************/

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0; height: 0;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}


body{
    font-family: ‘Palatino Linotype’, Palatino, serif;
    text-transform: uppercase;
}

/***** The Header ****************/

header, main{
    width: 960px;
    margin: 0 auto;
}

main{
    background-image: url("../img/bg2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding: 10px;

}

h1{
    float: left;
    font-size: 3em;
    font-weight: lighter;
    margin:20px 0 0 10px;
    color: #cccccc;
}

strong{
    color: #931100;
    font-weight: bold;
}

h2{
    text-align: center;
    font-size: 1.5em;
    color: #931100;
    font-weight: lighter;
}

#official{
    float: right;
    font-weight: lighter;
    clear:both;
    color: #cccccc;
    margin-right: 20px;
    font-size: 1em;
}

/***** Navigation Bar ****************/

nav{
    border-top: 1px solid #dedede;
    display: block;
    overflow: hidden;
    width: 100%;
    background-color: #ffffff;
}

nav> ul> li{
    position: relative;
    list-style: none;
    float: left;
}

nav> ul> li:not(:last-of-type){
    border-right: solid 1px #cccccc;
}

nav> ul> li:not(:first-of-type)::after{
    content: "";
    display: block;
    position: absolute;
    top: 30px;
    left: -1px;
    width: 3px;
    height: 15px;
    background: #ffffff;
}

nav> ul> li> a{
    display: block;
    padding: 25px;
    text-decoration: none;
}
.selected{
    display: none;
}
/***** Updates ****************/

#updates> ul> li{
    padding: 5px;
}

#updates> ul> li:before {
    content: "\2713";
    color: #931100;
}

#updates{
    margin: 0 auto;
    padding: 20px;
    width: 450px;
    color: #000000;
    float: left;


}

#updates> a{
    color: #cfc2cd;
}


/***** Music ****************/
#music{
    float: right;
    clear: both;
    margin: 10px auto;
    padding: 20px;
    width: 500px;
    color: #cccccc;

}



/***** Upcoming Shows ****************/

section> ul> li{
    list-style: none;
    padding-top: 5px;
}

#shows{
    margin: 10px auto;
    padding: 20px;
    width: 500px;
    color: #000000;
    float: left;
}


/***** Map ****************/
#map{
   height: 100%;
}


/*****  Videos ****************/

iframe{
    margin: 50px 150px;
}

/*****  Bio ****************/

.bio{
    width:425px;
    float: right;

}


.bio>p{
    text-align: justify;
    color: #171717;
    line-height: 150%;

}

#bioPic{
    float: left;
    margin: 15px 5px;

}




/***** Footer ****************/

footer{
    color: #929292;
    font-family: 'open sans',arial,sans-serif;
    font-size: .8em;
    font-weight: 300;
    margin:20px 10px;
    text-align: center;
    clear: both;
}

footer> a{
    display: inline;
    padding: 5px;
}



