/* 
================================================================================
WSP COMPONENT LIBRARY STYLESHEET
================================================================================ */
body{
background-image: url("../images/paisley.png");
font-family: 'Crimson Text', serif;
text-align: center;
font-size: 16px;
width:100%;
}

main{
background: rgba(196, 196, 196, 0.5);
max-width: 80em;
margin: 0 auto;
padding: 1.250em;
}

img{
    max-width: 100%;
}

/* HEADER SPECIFIC ======================================== */
#logo{
float: left;
}

/* ABOUT SPECIFIC ======================================== */
h1{
float: right;
font-size: 3em;
color: #d91b5c;
}


p:first-of-type{
font-weight: bold;
}

/* COMPONENTS SPECIFIC ======================================== */
h2{
margin: 10px;
color: #c30546;
font-size: 2.5em;
}

h3{
font-size: 2em;
}

p{
font-size: 1.5em;
text-align: justify;
}

button{
    width: 20%;
    background-color: #b5b3b7;
    color: #ffffff;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin: 2%;
    border-radius: 25px;
    text-shadow: 1px 1px 1px #8b8b8b;
    font-size: 1.5em;
    text-decoration:none;
}



button:visited{
    color: #00afde;
    text-decoration:none;
}


button:hover{
    background-color: #000ed0;
    text-decoration:none;
    color: #ffffff;
    font-weight: bold;
}

button:active{
    background-color: #c9d026;
    text-decoration:none;
    color: #000;
}

button:focus{
    background-color: #af0a00;
    text-decoration:none;
    color: #ffffff;
}
