<section class="bio">
    <h2 id="bio">Biography of Eric Val</h2>
    <p>Eric Val was born in Lewisburg Pennsylvania, but raised in a small town in Montana. All his life he knew
        he wanted to be a rock star. He was given guitar lessons starting in his early teens and then went on to vocal lessons by the end of high school. After graduation he moved to Pennsylvania to pursue his career with music.
        After 3 years he released his first album <i>3 Year Struggle</i> and continues to strive for the best to this day.
    </p>
</section>
