<main class="video"  class="clearfix">
    <article>
        <img src="../img/img6_preview.jpg"  alt="Eric val" id="bioPic">
    </article>
    <section class="bio">
        <h2 class="videoHeader">Biography of Eric Val</h2>
        <p>“Diverse Music with a Hard Rock Edge,” sums up Eric Val’s music career. Eric is a hard rock solo artist from Williamsport, PA, that was influenced by bands like Sevendust, Shinedown, Godsmack, Stone Sour and Seether. He has a classically trained voice that helps him propel his sound and style far above the rest. His writing style is as unique as his voice. <br>

            With the release of the debut album ‘3 Year Struggle’ August 31, 2012, the world got to see what Eric is all about. With 13 original tracks, it is available exclusively at ericvalmusic.com, along with itunes.com, amazon.com, and cdbaby.com. The album demonstrates his diversity, honesty and passion for his music. The first two singles ‘High Above You’ and ‘Pull Me Under’ showcase his pop sensibility. <br>

            The next album was released in September 2013 debuting the rock/pop single ‘Beauty Queen’. The album exemplifies a mixture of heavy guitars, groove drumming and smooth vocals. Another single was released, ‘If You Only Knew’, in July of 2014, and comprises a mixture of acoustic guitars, electric solos and fast paced drums.<br>

            At this time Eric is currently working on a new single, ‘Beautiful Lie’, and then will begin work on his next album ‘My Gift, My Curse.’

            “Working with Eric the past couple of years has shown me his passion to push his project through the business of rejection (a.k.a The Music Business), without ever losing sight of his freedom of expression. He clearly knows the difference between a demo and the persistence it takes to make a record. His attention to the details in his music empowers everyone who listens. The gifts are clearly on the table.”
            Joseph Hauserman, Producer, Drums, and Keyboards <br>

            “Eric Val is a pleasure to work with in the studio--he drops ego at the door; and carries in only his passionate dedication to the craft of singing and songwriting.”
            Richard Rupert, Engineer, Green Valley Recording

        </p>
    </section>

</main>

