<main id="contact" ng-class="{'static': data.imagesActive || data.videosActive}">
    <!--==== Contact Header  ====-->
    <h2>Contact Eric Val</h2>
    <!--==== Contact Form ====-->
    <form method="post" name="emailForm" action="../php/email.php">
        <input name="name" type="text" placeholder="Name*" required>
        <input name="email" type="email" placeholder="Email*">
        <input name="phone" type="tel" placeholder="Phone">
        <textarea name="comments" rows="4" cols="50" placeholder="Comments*" required></textarea>
        <input id="submit" name="submit" type="submit" value="Submit">
    </form>
</main>

<!--==== Google Analytics ====-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-86429079-1', 'auto');
    ga('send', 'pageview');
</script>