<main >
    <section id="updates">
        <h2>Updates:</h2>
        <ul>
            <li>New single <i>Beautiful Lie</i> is out now!</li>
            <li>Check out the new music video below! </li>
            <li>Eric will be performing next week!<br> Check out his upcoming shows.</li>
        </ul>
    </section>


    <section id="music">


    </section>


    <section id="shows">
        <h2>Upcoming Shows:</h2>
        <ul>
            <li><strong>The Spartan Pub</strong> 11/7/2016</li>
            <li><strong>Riepstine's Pub</strong> 11/21/2016</li>
            <li><strong>Hull's Landing</strong> 12/4/2016</li>
            <li><strong>The Mill Tavern Bar & Restaurant</strong> 12/12/2016</li>
        </ul>
    </section>
    <section id="allMap">
    <h2>Map To The Shows</h2>
    <div id="map"></div>
    <script src="../js/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6vp2G8ZD3x_mggKW7Rpv0gLBC6_IhDp8&callback=initMap"></script>
    </section>
    <article>
        <iframe width="640" height="360"
                src="http://www.youtube.com/embed/SjGZoALjiLQ">
        </iframe>
    </article>

</main>