<link rel="stylesheet"
      href="../../../../../Downloads/amplitudejs-master/examples/playlist-visualization/css/styles.css">
<main >
    <section id="updates">
        <h2>Updates:</h2>
        <ul>
            <li>New single <i>Beautiful Lie</i> is out now!</li>
            <li>Check out the new music video below! </li>
            <li>Eric will be performing next week!<br> Check out his upcoming shows.</li>
        </ul>
    </section>


    <section id="music">
        <!-- Start Top Header -->
        <div id="top-header" class="hidden-on-collapse">
            <div id="top-header-toggle" class="small-player-toggle-contract"></div>

            <div class="now-playing-title" amplitude-song-info="name"></div>
            <div class="album-information"><span amplitude-song-info="artist"></span> - <span amplitude-song-info="album"></span></div>
        </div>
        <!-- End Top Header -->

        <!-- Start Large Album Art -->
        <div id="visualization" class="hidden-on-collapse">
            <div id="amplitude-visualization"></div>
        </div>
        <!-- End Large Album Art -->

        <!-- Begin Small Player -->
        <div id="small-player">
            <!-- Begin Small Player Left -->
            <div id="small-player-left" class="hidden-on-expanded">
                <div id="small-player-toggle" class="small-player-toggle-expand"></div>
            </div>
            <!-- End Small Player Left -->

            <!-- Begin Small Player Album Art -->
            <img id="small-player-album-art" class="hidden-on-expanded" amplitude-song-info="cover"/>
            <!-- End Small Player Album Art -->

            <!-- Begin Small Player Middle -->
            <div id="small-player-middle" class="hidden-on-expanded">
                <div id="small-player-middle-top">
                    <!-- Begin Controls Container -->
                    <div id="small-player-middle-controls">
                        <div class="amplitude-prev" id="middle-top-previous"></div>
                        <div class="amplitude-play-pause amplitude-paused" amplitude-main-play-pause="true" id="middle-top-play-pause"></div>
                        <div class="amplitude-next" id="middle-top-next"></div>
                    </div>
                    <!-- End Controls Container -->

                    <!-- Begin Meta Container -->
                    <div id="small-player-middle-meta">
                        <div class="now-playing-title" amplitude-song-info="name"></div>
                        <div class="album-information"><span amplitude-song-info="artist"></span> - <span amplitude-song-info="album"></span></div>
                    </div>
                    <!-- End Meta Container -->
                </div>

                <div id="small-player-middle-bottom">
                    <div class="amplitude-song-time-visualization" amplitude-single-song-time-visualization="true" id="song-time-visualization"></div>
                </div>
            </div>
            <!-- End Small Player Middle -->

            <!-- Begin Small Player Right -->
            <div id="small-player-right" class="hidden-on-expanded">
                <div id="toggle-playlist" class="playlist-toggle"></div>
                <span class="current-time">
					<span class="amplitude-current-minutes" amplitude-single-current-minutes="true">0</span>:<span class="amplitude-current-seconds" amplitude-single-current-seconds="true">00</span>
				</span>
            </div>
            <!-- End Small Player Right -->

            <!-- Begin Small Player Full Bottom -->
            <div id="small-player-full-bottom" class="hidden-on-collapse">
                <div id="toggle-playlist-full" class="playlist-toggle"></div>
                <div id="small-player-full-bottom-controls">
                    <div class="amplitude-prev" id="middle-bottom-previous"></div>
                    <div class="amplitude-play-pause amplitude-paused" amplitude-main-play-pause="true" id="small-player-bottom-play-pause"></div>
                    <div class="amplitude-next" id="middle-top-next"></div>
                </div>
                <div id="small-player-full-bottom-info">
					<span class="current-time">
						<span class="amplitude-current-minutes" amplitude-single-current-minutes="true">0</span>:<span class="amplitude-current-seconds" amplitude-single-current-seconds="true">00</span>
					</span>

                    <div class="amplitude-song-time-visualization" amplitude-single-song-time-visualization="true" id="song-time-visualization-large"></div>

                    <span class="time-duration">
						<span class="amplitude-duration-minutes" amplitude-single-duration-minutes="true">0</span>:<span class="amplitude-duration-seconds" amplitude-single-duration-seconds="true">00</span>
					</span>
                </div>
            </div>
            <!-- End Small Player Full Bottom -->
        </div>
        <!-- End Small Player -->

        <!-- Begin Playlist -->
        <div id="small-player-playlist">
            <div class="information">
                Playlist
                <hr>
            </div>
            <div class="amplitude-song-container amplitude-play-pause playlist-item" amplitude-song-index="0">
                <img src="images/song_NickyRomero-SymphonicaThibaultRemix.jpg" class="album-art"/>
                <div class="playlist-meta">
                    <div class="now-playing-title">Symphonica (Thibault Remix)</div>
                    <div class="album-information">Thibault - Nicky Romero Remixes</span></div>
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="amplitude-song-container amplitude-play-pause playlist-item" amplitude-song-index="1">
                <img src="images/song_TheCrystalMethod-Emulator.jpg" class="album-art"/>
                <div class="playlist-meta">
                    <div class="now-playing-title">Emulator</div>
                    <div class="album-information">The Crystal Method - Emulator (Single)</span></div>
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="amplitude-song-container amplitude-play-pause playlist-item" amplitude-song-index="2">
                <img src="images/song_YogiBurial.jpg" class="album-art"/>
                <div class="playlist-meta">
                    <div class="now-playing-title">Burial feat. Pusha T</div>
                    <div class="album-information">Yogi - YOGI</span></div>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>

    </section>


    <section id="shows">
        <h2>Upcoming Shows:</h2>
        <ul>
            <li><strong>The Spartan Pub</strong> 11/7/2016</li>
            <li><strong>Riepstine's Pub</strong> 11/21/2016</li>
            <li><strong>Hull's Landing</strong> 12/4/2016</li>
            <li><strong>The Mill Tavern Bar & Restaurant</strong> 12/12/2016</li>
        </ul>
    </section>
    <h2>Map To The Shows</h2>
    <style type="text/css">
        html, body { height: 100%; margin: 0; padding: 0; }
        #map { height: 100%; }
    </style>
    <div id="map"></div>
    <script src="../js/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6vp2G8ZD3x_mggKW7Rpv0gLBC6_IhDp8&callback=initMap"></script>

    <article>
        <iframe width="640" height="360"
                src="http://www.youtube.com/embed/SjGZoALjiLQ">
        </iframe>
    </article>

</main>