<main>
<!--    <section class="gallery_container">
        <h2>Images</h2>
        <div class="gallery_content">
            <div class="gallery_thumbnails">
                <a href="img/img1_fullview.jpg"><img src="img/img1_thumbnail.jpg"/></a>
                <a href="img/img2_fullview.jpg"><img src="img/img2_thumbnail.jpg"/></a>
                <a href="img/img3_fullview.jpg"><img src="img/img3_thumbnail.jpg"/></a>
                <a href="img/img4_fullview.jpg"><img src="img/img4_thumbnail.jpg"/></a>
                <a href="img/img5_fullview.jpg"><img src="img/img5_thumbnail.jpg"/></a>
                <a href="img/img6_fullview.jpg"><img src="img/img6_thumbnail.jpg"/></a>
                <div class="clear_both"></div>
            </div>
            <div class="gallery_preview">
                <a href="img/img1.jpg"></a>
            </div>
            <div class="clear_both"></div>
            <div class="clear_both"></div>
            <div class="gallery_preload_area"></div>
        </div>
    </section>-->

        <div>
            <div>
                <ul>
                    <li>
                        <a href="../img/img1_thumbnail.jpg"></a>
                    </li>
                    <li>
                        <a class="thumb" href="../img/img2_thumbnail.jpg"></a>
                    </li>
                    <li>
                        <a class="thumb" href="../img/img3_thumbnail.jpg"></a>
                    </li>
                    <li>
                        <a class="thumb" href="../img/img4_thumbnail.jpg"></a>
                    </li>
                    <li>
                        <a class="thumb" href="../img/img5_thumbnail.jpg"></a>
                    </li>
                    <li>
                        <a class="thumb" href="../img/img6_thumbnail.jpg"></a>
                    </li>
                </ul>
            </div>
        </div>
</main>

