<main>
<section class="gallery_container">
        <h2>../images</h2>
       <!-- <div class="gallery_content">
            <div class="gallery_thumbnails">
                <a href="../img/img1_fullview.jpg"><img src="../img/img1_thumbnail.jpg"/></a>
                <a href="../img/img2_fullview.jpg"><img src="../img/img2_thumbnail.jpg"/></a>
                <a href="../img/img3_fullview.JPG"><img src="../img/img3_thumbnail.jpg"/></a>
                <a href="../img/img4_fullview.JPG"><img src="../img/img4_thumbnail.jpg"/></a>
                <a href="../img/img5_fullview.jpg"><img src="../img/img5_thumbnail.jpg"/></a>
                <a href="../img/img6_fullview.jpg"><img src="../img/img6_thumbnail.jpg"/></a>
                <div class="clear_both"></div>
            </div>
            <div class="gallery_preview">
                <a href="../img/img1_preview.jpg"></a>
            </div>
            <div class="clear_both"></div>
            <div class="clear_both"></div>
            <div class="gallery_preload_area"></div>
        </div>-->
    <ul class="gallery clearfix">
        <li><a href="../img/img1_preview.jpg" rel="prettyPhoto[gallery1]" title="Eric Val"><img
                src="../img/img1_thumbnail.jpg" alt="EricVal" /></a></li>
        <li><a href="../img/img1_preview.jpg" rel="prettyPhoto[gallery1]" title="Eric Val"><img
                src="../img/img1_thumbnail.jpg" alt="EricVal" /></a></li>
        <li><a href="../img/img1_preview.jpg" rel="prettyPhoto[gallery1]" title="Eric Val"><img
                src="../img/img1_thumbnail.jpg" alt="EricVal" /></a></li>
        <li><a href="../img/img1_preview.jpg" rel="prettyPhoto[gallery1]" title="Eric Val"><img
                src="../img/img1_thumbnail.jpg" alt="EricVal" /></a></li>
        <li><a href="../img/img1_preview.jpg" rel="prettyPhoto[gallery1]" title="Eric Val"><img
                src="../img/img1_thumbnail.jpg" alt="EricVal" /></a></li>
        <li><a href="../img/img1_preview.jpg" rel="prettyPhoto[gallery1]" title="Eric Val"><img
                src="../img/img1_thumbnail.jpg" alt="EricVal" /></a></li>
    </ul>

        <ul class="gallery clearfix">
            <li><a href="../images/fullscreen/1.jpg" rel="prettyPhoto[gallery1]"
                   title="You can add caption to pictures. You can add caption to pictures. You can add caption to pictures."><img src="../images/thumbnails/t_1.jpg" width="60" height="60" alt="Red round shape" /></a></li>
            <li><a href="../images/fullscreen/2.jpg" rel="prettyPhoto[gallery1]"><img src="../images/thumbnails/t_2.jpg" width="60" height="60" alt="Nice building" /></a></li>
            <li><a href="../images/fullscreen/3.jpg" rel="prettyPhoto[gallery1]"><img src="../images/thumbnails/t_3.jpg" width="60" height="60" alt="Fire!" /></a></li>
            <li><a href="../images/fullscreen/4.jpg" rel="prettyPhoto[gallery1]"><img src="../images/thumbnails/t_4.jpg" width="60" height="60" alt="Rock climbing" /></a></li>
            <li><a href="../images/fullscreen/5.jpg" rel="prettyPhoto[gallery1]"><img src="../images/thumbnails/t_5.jpg" width="60" height="60" alt="Fly kite, fly!" /></a></li>
            <li><a href="../images/fullscreen/6.jpg" rel="prettyPhoto[gallery1]"><img src="../images/thumbnails/t_2.jpg" width="60" height="60" alt="Nice building" /></a></li>
        </ul>


    </section>
</main>

