<main>
<!--    <section class="gallery_container">
        <h2>Images</h2>
        <div class="gallery_content">
            <div class="gallery_thumbnails">
                <a href="img/img1_fullview.jpg"><img src="img/img1_thumbnail.jpg"/></a>
                <a href="img/img2_fullview.jpg"><img src="img/img2_thumbnail.jpg"/></a>
                <a href="img/img3_fullview.jpg"><img src="img/img3_thumbnail.jpg"/></a>
                <a href="img/img4_fullview.jpg"><img src="img/img4_thumbnail.jpg"/></a>
                <a href="img/img5_fullview.jpg"><img src="img/img5_thumbnail.jpg"/></a>
                <a href="img/img6_fullview.jpg"><img src="img/img6_thumbnail.jpg"/></a>
                <div class="clear_both"></div>
            </div>
            <div class="gallery_preview">
                <a href="img/img1.jpg"></a>
            </div>
            <div class="clear_both"></div>
            <div class="clear_both"></div>
            <div class="gallery_preload_area"></div>
        </div>
    </section>-->

    <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 960px; height: 480px; overflow: hidden; visibility: hidden; background-color: #24262e;">
        <!-- Loading Screen -->
        <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
            <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
        </div>
        <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 240px; width: 720px; height: 480px; overflow: hidden;">
            <div data-p="150.00">
                <img data-u="image" src="../img/img1_preview.jpg" />
                <img data-u="thumb" src="../img/img1_thumbnail.jpg" />
            </div>
            <div data-p="150.00" style="display: none;">
                <img data-u="image" src="../img/img2_preview.jpg" />
                <img data-u="thumb" src="../img/img2_thumbnail.jpg" />
            </div>
            <div data-p="150.00" style="display: none;">
                <img data-u="image" src="../img/img3_preview.jpg" />
                <img data-u="thumb" src="../img/img3_thumbnail.jpg" />
            </div>
            <div data-p="150.00" style="display: none;">
                <img data-u="image" src="../img/img4_preview.jpg" />
                <img data-u="thumb" src="../img/img4_thumbnail.jpg" />
            </div>
            <div data-p="150.00" style="display: none;">
                <img data-u="image" src="../img/img5_preview.jpg" />
                <img data-u="thumb" src="../img/img5_thumbnail.jpg" />
            </div>
            <div data-p="150.00" style="display: none;">
                <img data-u="image" src="../img/img6_preview.jpg" />
                <img data-u="thumb" src="../img/img6_thumbnail.jpg" />
            </div>
        </div>
        <!-- Thumbnail Navigator -->
        <div data-u="thumbnavigator" class="jssort01-99-66" style="position:absolute;left:0px;top:0px;width:240px;height:480px;" data-autocenter="2">
            <!-- Thumbnail Item Skin Begin -->
            <div data-u="slides" style="cursor: default;">
                <div data-u="prototype" class="p">
                    <div class="w">
                        <div data-u="thumbnailtemplate" class="t"></div>
                    </div>
                    <div class="c"></div>
                </div>
            </div>
            <!-- Thumbnail Item Skin End -->
        </div>
        <!-- Arrow Navigator -->
        <span data-u="arrowleft" class="jssora05l" style="top:0px;left:248px;width:40px;height:40px;" data-autocenter="2"></span>
        <span data-u="arrowright" class="jssora05r" style="top:0px;right:8px;width:40px;height:40px;" data-autocenter="2"></span>
    </div>
</main>

