<main id="video">
<h2 id="videoHeader">Videos</h2>
<article>
    <iframe width="640" height="360"
            src="http://www.youtube.com/embed/SjGZoALjiLQ">
    </iframe>
</article>
<article>
    <iframe width="640" height="360"
            src="http://www.youtube.com/embed/emel6lFmYPI">
    </iframe>
</article>
<article>
    <iframe width="640" height="360"
            src="http://www.youtube.com/embed/SYAojqkcYzw">
    </iframe>
</article>
<article>
    <iframe width="640" height="360"
            src="http://www.youtube.com/embed/y6HgGV0QhlE">
    </iframe>
</article>
<article>
    <iframe width="640" height="360"
            src="http://www.youtube.com/embed/Zs3qY0wts1c">
    </iframe>
</article>
<article>
    <iframe width="640" height="360"
            src="http://www.youtube.com/embed/-L1FpZ6gprI">
    </iframe>
</article>

</main>