/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* HEADER ======================================== */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

section{
    width: 100%;

}
i
{
    border-radius: 100px;
    border:solid 1px #debc39;
    background-color: #debc39;
    color: #ffffff;
    padding: 30px;
    margin: 20px;
    float: left;


}

button{
    border-radius: 10px;
    border:solid 1px #e4e4e4;
    background-color: #ffffff;
    width: 500px;
    font-family: 'open sans',arial,sans-serif;
    text-transform: uppercase;
}

img{
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;

}

strong{
    font-size: 2em;
    color: #929292;
    font-weight: 100;



}

h1{
    color: #debc39;
    font-size: 3em;
    display: inline-block;
    font-weight: 400;




}

p{
    font-size: 3em;
    color: #929292;
    float: right;
    padding: 40px;




}
/* HEADER ======================================== */