<!DOCTYPE html>
<html>
<head>
	<title>WSP Component Services: Sara Maneval</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>
	<!-- Component -->

        <section>
            <h2>Main Services</h2>
            <article>
                <img src="img1.jpg">
                <h3>Proin Dictum Elementu.</h3>
                <p>FUSCE EUISMOD CONSEQUAT ANTE. LOREM IPSUM DOLOR SIT AMET, CONSECTETUE ADIPISCING ELIT.</p>
                <i class="material-icons w3-text-teal" style="font-size:14px">forward</i><a href="#">MORE
            </a>
            </article>
            <article>
                <img src="img2.jpg">
                <h3>FUSCE SUSCIPIT VARIUS.</h3>
                <p>FUSCE EUISMOD CONSEQUAT ANTE. LOREM IPSUM DOLOR SIT AMET, CONSECTETUE ADIPISCING ELIT.</p>
                <i class="material-icons w3-text-teal" style="font-size:14px">forward</i><a href="#">MORE</a>
            </article>
        </section>
    <!-- End Component -->
</body>
</html>