<!DOCTYPE html>
<html>
<head>
	<title>WSP Component Services: Sara Maneval</title>
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>
	<!-- Component -->
    <main>
        <header>Main Services</header>
        <section>
            <img src="img1.jpg">
            <h2>Proin Dictum Elementu.</h2>
            <p>FUSCE EUISMOD CONSEQUAT ANTE. LOREM IPSUM DOLOR SIT AMET, CONSECTETUE ADIPISCING ELIT.</p>
            <a href="#">MORE</a>
        </section>
        <section>
            <img src="img2.jpg">
            <h2>FUSCE SUSCIPIT VARIUS.</h2>
            <p>FUSCE EUISMOD CONSEQUAT ANTE. LOREM IPSUM DOLOR SIT AMET, CONSECTETUE ADIPISCING ELIT.</p>
            <a href="#">MORE</a>
        </section>
        <img src="bg.jpg">
    </main><!-- End Component -->
</body>
</html>