<!DOCTYPE html>
<html>
<head>
	<title>WSP Component Services: Sara Maneval</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href="component.css" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
</head>
<body>
	<!-- Component -->

        <section>
            <h2>Main Services</h2>
            <article>
                <img src="img1.jpg">
                <p><strong>Proin Dictum Elementu.</strong>FUSCE EUISMOD CONSEQUAT ANTE. LOREM IPSUM DOLOR SIT AMET,
                    CONSECTETUE ADIPISCING ELIT.</p>
                <i class="material-icons w3-text-teal" style="font-size:14px">forward</i><a href="#">MORE
            </a>
            </article>
            <article>
                <img src="img2.jpg">

                <p><strong>FUSCE SUSCIPIT VARIUS.</strong>FUSCE EUISMOD CONSEQUAT ANTE. LOREM IPSUM DOLOR SIT AMET,
                    CONSECTETUE ADIPISCING ELIT.</p>
                <i class="material-icons w3-text-teal" style="font-size:14px">forward</i><a href="#">MORE</a>
            </article>
        </section>
    <!-- End Component -->
</body>
</html>