/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* HEADER ======================================== */
body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;

}

section{
    float: right;
    border-top: solid 1px #ffffff;
    margin: 20px;
    display: block;

}

img{
    float: left;
    margin: 20px;

}

article{
    width: 500px;
    margin: 20px;
    font-size: .7em;
    text-align: left;
}


h2, h3, a{
    color: #ffffff;
}



h3{
   padding: 40px 0  0 0;

}

p{
    color: #386f7a;
    padding: 0 0 20px 0 ;

}

a{
    margin: 0 5px;
    text-decoration: none;
}

i
{
    border-radius: 100px;
    border:solid 1px #386f7a;
    background-color:#386f7a ;
    color: #ffffff;
    padding: 5px;
    margin: 0 auto;
}




/* HEADER ======================================== */