<!DOCTYPE html>
<html>
<head>
	<title>WSP Component Blog: Sara Maneval</title>
	<link rel="stylesheet" type="text/css" href="component.css" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
</head>
<body>

	<!-- Component -->
    <section>
    <h2>Recent Comments</h2>
    <article>
        <img src="img1.png" height="50" width="50">
        <h3>Admin</h3>
        <p>Posted on <time datetime="2015-08-14 19:00">August 14</time>.</p>
        <p>Lorem ipsum dolor sit smet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus.
            Aenean..
            .</p>
    </article>
    <article>
        <img src="img1.png" height="50" width="50">
        <h3>Admin</h3>
        <p>Posted on <time datetime="2015-08-14 19:00">August 14</time>.</p>
        <p>Lorem ipsum dolor sit smet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean...</p>
    </article>
    <article>
        <img src="img1.png" height="50" width="50">
        <h3>Admin</h3>
        <p>Posted on <time datetime="2015-08-14 19:00">August 14</time>.</p>
        <p>Lorem ipsum dolor sit smet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean...</p>
    </article>
    </section>
<!-- End Component -->
</body>
</html>