/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* HEADER ======================================== */

section{
    width: 300px;
    background-color: #373737;
    color: #d0cfca;
    padding: 10px;
}

h2{
    text-align: center;
}

img{
    float: left;
    margin: 10px;
}

article{
    margin: 8px;
    padding: 2px;
}


h3, p{
    font-size: .8em;
    font-weight: 100;
}

p:last-of-type{
    padding: 10px;
    line-height: 200%;
}


/* HEADER ======================================== */