/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* HEADER ======================================== */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
body{
    font-family: 'open sans',arial,sans-serif;
}

section{
    width: 300px;
    background-color: #373737;
    color: #d0cfca;
    padding: 10px;
}

h2{
    text-align: center;
}

img{
    float: left;
    margin: 10px;
}

article{
    margin: 8px;
    padding: 2px;
}


h3, p{
    font-size: .8em;
    font-weight: 100;
}

p:last-of-type{
    padding: 10px;
    line-height: 200%;
}


/* HEADER ======================================== */