<!DOCTYPE html>
<html>
<head>
	<title>WSP Component Blog: Sara Maneval</title>
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
    <header>Recent Comments</header>
    <article>
        <img src="img1.png" height="50" width="50">
        <h2>Admin</h2>
        <p>Posted on <time datetime="2015-08-14 19:00">August 14</time>.</p>
        <p>Lorem ipsum dolor sit smet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean...</p>
    </article>
    <article>
        <img src="img1.png" height="50" width="50">
        <h2>Admin</h2>
        <p>Posted on <time datetime="2015-08-14 19:00">August 14</time>.</p>
        <p>Lorem ipsum dolor sit smet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean...</p>
    </article>
    <article>
        <img src="img1.png" height="50" width="50">
        <h2>Admin</h2>
        <p>Posted on <time datetime="2015-08-14 19:00">August 14</time>.</p>
        <p>Lorem ipsum dolor sit smet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean...</p>
    </article>
    </section>
<!-- End Component -->
</body>
</html>