/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* HEADER ======================================== */
body{

    font-family: Arial;
}

header{
    background-image: url("component.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
}

strong{
    font-size: 5em;
    display: block;
    text-transform:uppercase ;
}
h1 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    width: 100%;
    color: #ffffff;
    font-size: 1.5em;
    text-transform:uppercase ;
}
h1:before, h1:after {
    position: absolute;
    top: 90%;
    overflow: hidden;
    width: 39%;
    height: 1px;
    content: '\a0';
    background-color: #ffffff;
}
h1:before {
    position: absolute;
    left: -50px;
    text-align: center;
}



/* HEADER ======================================== */