/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* HEADER ======================================== */
body{

    font-family: Arial;
}

header{
    background-image: url("component.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

strong{
    font-size: 5em;
    display: block;
}
h1 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    width: 100%;
    color: #ffffff;
}
h1:before, h1:after {
    position: absolute;
    top: 90%;
    overflow: hidden;
    width: 40%;
    height: 1px;
    content: '\a0';
    background-color: #ffffff;
}
h1:before {
    margin-left: -50%;
    text-align: center;
}



/* HEADER ======================================== */