/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* HEADER ======================================== */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
body{
    font-family: 'open sans',arial,sans-serif;
}
i
{
    border-radius: 100px;
    border:solid 1px #e4e4e4;
    color: #1bbae6;
    padding: 30px;
    margin: 0 auto;
}

article{
    width: 120px;
    display: inline-block;
    margin: 30px;

}

h2{
    font-size: 1em;
    text-align: center;
    color: #585755;
    font-weight: 400;
}

p{
    font-size: .6em;
    color: #b1b1b1;
    text-align: center;
    line-height: 180%;
    font-weight: 400;
}
/* HEADER ======================================== */