<!DOCTYPE html>
<html>
<head>
	<title>WSP Component Features: Sara Maneval</title>
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>
	<!-- Component -->

<figure>
    <ul>
        <li>Consectetuer
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum mtie lacus. Aenean
                nonummy.</p>
        </li>
        <li>Adipiscing elit
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum mtie lacus. Aenean
                nonummy.</p>
        </li>
        <li>Praesent
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum mtie lacus. Aenean
                nonummy.</p>
        </li>
        <li>Vestibulum
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum mtie lacus. Aenean
                nonummy.</p>
        </li>
        <li>Libero nisl
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum mtie lacus. Aenean
                nonummy.</p>
        </li>
        <li>Molestie
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum mtie lacus. Aenean
                nonummy.</p>
        </li>
    </ul>
</figure>
<!-- End Component -->
</body>
</html>