<!DOCTYPE html>
<html>
<head>
	<title>WSP Component Features: Sara Maneval</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>
	<!-- Component -->
<section>
    <article>
        <i class="material-icons w3-text-teal" style="font-size:64px">group</i>
        <h2>Consectetuer</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum mtie lacus. Aenean
                nonummy.</p>
    </article>

    <article>
        <i class="material-icons w3-text-teal" style="font-size:64px">tv</i>
        <h2>Adipiscing elit</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum mtie lacus. Aenean
                nonummy.</p>
    </article>

    <article>
        <i class="material-icons w3-text-teal" style="font-size:64px">launch</i>
        <h2>Praesent</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum mtie lacus. Aenean
                nonummy.</p>
    </article>

    <article>
        <i class="material-icons w3-text-teal" style="font-size:64px">grade</i>
        <h2>Vestibulum</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum mtie lacus. Aenean
                nonummy.</p>
    </article>

    <article>
        <i class="material-icons w3-text-teal" style="font-size:64px">book</i>
        <h2>Libero nisl</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum mtie lacus. Aenean
                nonummy.</p>
    </article>

    <article>
        <i class="material-icons w3-text-teal" style="font-size:64px">share</i>
        <h2>Molestie</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum mtie lacus. Aenean
                nonummy.</p>
    </article>
</section>

<!-- End Component -->
</body>
</html>