/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* HEADER ======================================== */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
article{
    width: 400px;
    border: solid 1px #cccccc;
    font-family: 'open sans',arial,sans-serif;
}

h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    color: #525252;
    margin: 20px 0 0 0;
    letter-spacing: -2px;


}

h2{
    text-transform: uppercase;
    text-align: center;
    color: #b5b3b7;
    margin: 0 0 20px 0;
    letter-spacing: -2px;
    font-weight: 100;
}

p{
    text-transform: uppercase;
    color: #b5b3b7;
    margin: 20px;
    font-weight: 300;


}

input{
    width: 80%;
    padding: 20px;
    margin: 5px 20px;
    border: solid 1px #cccccc;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: lighter;

}


input:last-of-type{
    background-color: #f25718;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 1.5em;
    border: solid 1px #f25718;
    width: 90%;
    font-weight: bold;
    margin-top: 20px;




}

/* HEADER ======================================== */