<!DOCTYPE html>
<html>
<head>
	<title>WSP Component Login Form: Sara Maneval</title>
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

    <h1>Best Places To Stay</h1>
    <h2>Explore The Planet</h2>
    <form>
        <input type="text" placeholder="Name" required>
        <input type="email" placeholder="Email">
        <input type="text" placeholder="Your Message">
        <input type="submit" value="Get The Best Offers">
    </form>
    <p>* CEPLICABOSERDE NERAFLOREM IPSUMODITAUTERA MONSEQUNGNI DOLOREPTATE SEQUSEDE</p>

<!-- End Component -->
	
</body>
</html>