<!DOCTYPE html>
<html>
<head>
	<title>WSP Component Login Form: Sara Maneval</title>
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->


    <article>
        <h1>Best Places To Stay</h1>
        <h2>Explore The Planet</h2>
        <form>
            <input type="text" placeholder="Name" required>
            <input type="email" placeholder="Your E-mail">
            <input type="text" placeholder="Your Message">
            <input id="submit" type="submit" value="Get The Best Offers">
        </form>
        <p>* ceplicaboserde neraflorem ipsumoditautera monsequngni doloreptate sequsede</p>

    <!-- End Component -->
    </article>
</body>
</html>