<!DOCTYPE html>
<html>
<head>
	<title>WSP Component Nav Bar: Sara Maneval</title>
	<link rel="stylesheet" type="text/css" href="component.css" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
</head>
<body>

	<!-- Component -->
    <header>
    <h1><strong>Vera</strong> Burton</h1>
        <h2>Official Website</h2>

<nav>
<ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About Me</a></li>
    <li><a href="#">Filmography</a></li>
    <li><a href="#">Gallery</a></li>
    <li><a href="#">Contacts</a></li>
</ul>
</nav>
    </header>
<!-- End Component -->


	
</body>
</html>