/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* HEADER ======================================== */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

body{
    font-family: 'open sans',arial,sans-serif;
    text-transform: uppercase;
}


h1{
    float: left;
    font-size: 3em;
    width: 100px;
    margin: 75px 0 0 50px;
    font-weight: lighter;

}
strong{
    color: #959595;
    font-weight: lighter;
}

h2{
    float: right;
    font-weight: lighter;
    clear:both;
    color: #cccccc;
}

/*nav {
    border-top: 1px solid #dedede;
    display: block;
    margin: 25px auto;
    overflow: hidden;
    width: 100%;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    transition: all 0.2s ease;
    font-size: .8em;

}

nav > ul > li > a {
    color: #6d6d6d;
    display: block;
    line-height: 56px;
    text-decoration: none;
    padding: 20px;
    border: solid 1px #eaeaea;
}

nav > ul > li:hover {
    background-color: #353a3d;
    transform: scale(1.2);
}

nav > ul > li:hover > a {
    color: #ffffff;

}*/
nav{
    border-top: 1px solid #dedede;
    display: block;
    overflow: hidden;
    width: 100%;
    background-color: #ffffff;

}
li{
    position: relative;
    list-style: none;
    float: left;



}

li:not(:last-of-type){
   border-right: solid 1px #cccccc;
}

li:not(:first-of-type)::after{
    content: "";
    display: block;
    position: absolute;
    top: 40px;
    left: -1px;
    width: 3px;
    height: 20px;
    background: #ffffff;
}

a{
    display: block;
    padding: 40px;
    text-decoration: none;
}
/* HEADER ======================================== */