<!DOCTYPE html>
<html>
<head>
	<title>WSP Component Footer: Sara Maneval</title>
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
        <footer>

            Copyright &copy; 2015 | Privacy Policy
            <img src="icon1.png" alt="Facebook" width="64" height="64">
            <img src="icon2.png" alt="Twitter" width="64" height="64">
            <img src="icon3.png" alt="Instagram" width="64" height="64">
            <img src="icon4.png" alt="Google" width="64" height="64">
            <img src="icon5.png" alt="LinkedIn" width="64" height="64">
            <ul>
                <li>vestibulum iaculis</li>
                <li>lacinia est</li>
                <li>proin dictum</li>
                <li>consequat ante</li>
                <li>enim adipiscing</li>
                <li>aliquet</li>
                <li>nulla venenatis</li>
                <li>in pede mi</li>
                <li>lorem ipsum dolor</li>
                <li>sit amet</li>
                <li>consectetuer</li>
                <li>adipiscing elit</li>
            </ul>
        </footer>

<!-- End Component -->
</body>
</html>