/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* HEADER ======================================== */
footer{
color: #929292;

}

ul{
    list-style: none;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

ul li{
    display: inline-block;
}

ul li:before{
    content: "\00BB \0020";
}
img{
    float: left;
}
/* HEADER ======================================== */