<!DOCTYPE html>
<html>
<head>
	<title>WSP Component Footer: Sara Maneval</title>
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <main>
        <footer>
            Copyright &copy; 2015 | Privacy Policy
            <ul>
                <li>VESTIBULUM IACULIS</li>
                <li>LACINIA EST</li>
                <li>PROIN DICTUM</li>
                <li>CONSEQUAT ANTE</li>
            </ul>
            <ul>
                <li>ENIM ADIPISCING</li>
                <li>ALIQUET</li>
                <li>NULLA VENENATIS</li>
                <li>IN PEDE MI</li>
            </ul>
            <ul>
                <li>LOREM IPSUM DOLOR</li>
                <li>SIT AMET</li>
                <li>CONSECTETUER</li>
                <li>ADIPISCING ELIT</li>
            </ul>
        </footer>

    </main><!-- End Component -->
</body>
</html>