<!DOCTYPE html>
<html>
<head>
	<title>WSP Component Gallery: Sara Maneval</title>
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <figure>
        <img src="img1.jpg"><figcaption> Bush & Safari Weddings</figcaption>
        <img src="img2.jpg"><figcaption>Beach Weddings</figcaption>
        <img src="img3.jpg"><figcaption>Country Weddings</figcaption>
    </figure>
    <figure>
        <img src="img4.jpg"><figcaption>Winelands Weddings</figcaption>
        <img src="img5.jpg"><figcaption>City Weddings</figcaption>
        <img src="img6.jpg"><figcaption>Intimate Weddings</figcaption>
    </figure>
    <!-- End Component -->
	
</body>
</html>