<!DOCTYPE html>
<html>
<head>
	<title>WSP Component Gallery: Sara Maneval</title>
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <a><img src="img1.jpg"><p> Bush & Safari Weddings</p> <img src="design.png" width="389" height="47"></a>
        <a><img src="img2.jpg"><p>Beach Weddings</p><img src="design.png" width="389" height="47"></a>
        <a><img src="img3.jpg"><p>Country Weddings</p><img src="design.png" width="389" height="47"></a>
        <a><img src="img4.jpg"><p>Winelands Weddings</p><img src="design.png" width="389" height="47"></a>
        <a><img src="img5.jpg"><p>City Weddings</p><img src="design.png" width="389" height="47"></a>
        <a><img src="img6.jpg"><p>Intimate Weddings</p><img src="design.png" width="389" height="47"></a>
    </section>
    <!-- End Component -->
	
</body>
</html>