<footer>
    <p>Copyright Eric Val &copy; 2016 | Privacy Policy</p>
    <a href="https://www.facebook.com/eric.val?fref=ts"><img src="../img/icon1.svg" alt="Facebook"
                                                             width="32" height="32"></a>
    <a href="https://www.youtube.com/user/EricValMusic"><img src="../img/icon6.png" alt="YouTube"
                                                             width="32" height="32"></a>
    <a href="https://twitter.com/ericvalmusic"> <img src="../img/icon2.svg" alt="Twitter" width="32"
                                                     height="32"></a>
    <a href="https://plus.google.com/+EricVal/posts"><img src="../img/icon4.svg" alt="Google" width="32"
                                                          height="32"></a>
    <a href="https://www.linkedin.com/profile/view?id=AAkAAArC7lcB1ILPnck8ocrItIzIy6Is7EUkXZI&authType=NAME_SEARCH&authToken=gZTw&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A180547159%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1445566846617%2Ctas%3Aeric%20val"><img src="../img/icon5.svg" alt="LinkedIn" width="32" height="32"></a>
</footer>