<header class="clearfix">
    <h1><strong>Eric</strong></h1>
    <h1 id="val">Val</h1>
    <h2 id="official">Official Website</h2>
    <nav class="dropdown">
        <ul>
            <li><a href="/#/">Home</a></li>
            <li><a href="/#/bio">Bio</a></li>
            <li class="dropbtn">Gallery</li>
            <ul class="dropdown-content"  style="list-style-type:none">
                <li><a href="/#/images">Images</a></li>
                <li><a href="/#/videos">Videos</a></li>
            </ul>
                <div class="clear"></div>
            <li><a href="/#/contact">Contact</a></li>
        </ul>
    </nav>
</header>

