<!--==== Nav Bar and Header ====-->
<header class="clearfix">
    <h1><strong>Eric</strong></h1>
    <h1 id="val">Val</h1>
    <h2 id="official">Official Website</h2>
    <nav >
        <ul>
            <li><a href="/#/">Home</a></li>
            <li><a href="/#/bio">Bio</a></li>
            <li class="dropdown">Gallery
                <ul class="dropdown-content"  style="list-style-type:none">
                    <li ng-click="data.imagesActive=true" class="link">Images</li>
                    <li ng-click="data.videosActive=true" class="link">Videos</li>
                </ul>

            </li>
            <li><a href="/#/contact">Contact</a></li>
        </ul>
    </nav>
</header>

<!--==== Image and Video Modal ====-->

<!--
<div class="modalize" ng-show="data.imagesActive || data.videosActive">

    &lt;!&ndash;==== Thumbnail Wrapper ====&ndash;&gt;
    <div class="thumbWrapper">
        &lt;!&ndash;==== Close Button ====&ndash;&gt;
        <div class="glyphicon glyphicon-remove-circle close"
             ng-click="data.imagesActive = data.videosActive = false; "></div>

        &lt;!&ndash;==== Image Thumbnails ====&ndash;&gt;
        <div ng-repeat="image in data.images" ng-show="data.imagesActive" class="test" >
            <img ng-click="showImage(image)" class="thumbnail" ng-src="{{image}}" />
        </div>

        &lt;!&ndash;==== Video Thumbnails ====&ndash;&gt;
        <div ng-repeat="thumbnail in data.videoThumbs track by $index" ng-show=" data.videosActive" class="test" >
            <img ng-click="playVideo($index)" class="thumbnail" ng-src="{{thumbnail}}" />
        </div>
    </div>

    &lt;!&ndash;==== Main Image and Video Wrapper ====&ndash;&gt;
    <div class="preview">

        &lt;!&ndash;==== Main Image ====&ndash;&gt;
        <div  ng-show="data.imagesActive" class="viewImage">
            <img class="mainImage" ng-src="{{data.selectedImage}}" />
        </div>

        &lt;!&ndash;==== Main Video ====&ndash;&gt;
        <div  ng-show="data.videosActive" class="viewVideo">
            <iframe
                    ng-src="{{data.selectedVideo | trustAsResourceUrl}}" sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>
    </div>
</div>-->
