<main>
    <div>
        <div class="clearfix">
            <img class="ev" src="../img/ev.svg" alt="Eric Val Header">
            <h2 id="official">Official Website</h2>
            <nav class="navbar navbar-default">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li><a href="/#/">Home</a></li>
                    <li><a href="/#/bio">Bio</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Gallery<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-click="data.imagesActive=true" class="link">Images</li>
                            <li ng-click="data.videosActive=true" class="link">Videos</li>
                        </ul>
                    </li>
                   <!--  <li class="dropdown">
                        Gallery
                        <ul class="dropdown-content"  style="list-style-type:none">
                            <li ng-click="data.imagesActive=true" class="link">Images</li>
                            <li ng-click="data.videosActive=true" class="link">Videos</li>
                        </ul>
                    </li> -->
                    <li><a href="/#/contact">Contact</a></li>
                  </ul>
                </div><!-- /.navbar-collapse -->
            </nav>

            <!-- <nav class="navbar navbar-default">
                <ul class="nav navbar-nav">
                    <li><a href="/#/">Home</a></li>
                    <li><a href="/#/bio">Bio</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Gallery<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-click="data.imagesActive=true" class="link">Images</li>
                            <li ng-click="data.videosActive=true" class="link">Videos</li>
                        </ul>
                    </li>
                    <li><a href="/#/contact">Contact</a></li>
                </ul>
            </nav> -->
        </div>
        <!--==== Image and Video Modal ====-->
        <div class="modalize" ng-show="data.imagesActive || data.videosActive">
            <!--==== Thumbnail Wrapper ====-->
            <div class="thumbWrapper">
                <!--==== Close Button ====-->
                <div ng-click="data.imagesActive = data.videosActive = false; " class="x">
                    <div class="bgX">
                    </div>
                </div>
                <!--==== Image Thumbnails ====-->
                <div ng-repeat="image in data.images" ng-show="data.imagesActive" class="test" >
                    <img ng-click="showImage(image)" class="thumbnail" ng-src="{{image}}" />
                </div>
                <!--==== Video Thumbnails ====-->
                <div ng-repeat="thumbnail in data.videoThumbs track by $index" ng-show="data.videosActive" class="test" >
                    <img ng-click="playVideo($index)" class="thumbnail" ng-src="{{thumbnail}}" />
                    <div class="title">{{data.videosTitle[$index]}}</div>
                </div>
            </div>
            <!--==== Main Image and Video Wrapper ====-->
            <div class="preview">
                <!--==== Main Image ====-->
                <div  ng-show="data.imagesActive" class="viewImage">
                    <img class="mainImage" ng-src="{{data.selectedImage}}" />
                </div>
                <!--==== Main Video ====-->
                <div  ng-show="data.videosActive" class="viewVideo">
                    <iframe
                            ng-src="{{data.selectedVideo | trustAsResourceUrl}}" sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</main>