<!DOCTYPE html>
<html>
<head>
	<title>WSP Component About Us: Sara Maneval</title>
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<main>
<section>
    <header>About Us</header>
    <article>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna.</article>

    <blockquote>Lorem ipsum dolor sit amet, consectetuer adipiscing eliaesent</blockquote>
    <article>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci.</article>
</section>
    <figure>
        <img src="img1.jpg" width="150" height="100">
        <img src="img2.jpg" width="150" height="100">
        <img src="img3.jpg" width="150" height="100">
        <img src="img4.jpg" width="100" height="100">
        <img src="img5.jpg" width="80" height="100">
        <img src="img6.jpg" width="100" height="100">
    </figure>
</main><!-- End Component -->
</body>
</html>