<!DOCTYPE html>
<html>
<head>
	<title>WSP Component Contact Form: Sara Maneval</title>
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <main>
        <section>
            <header>Address 1</header>
            <address>The Company Name Inc. 8901 Marmora Road, Glasgow, D04 89GR.</address>
        </section>
        <section>
            <header>Telephones</header>
            <a href="tel:1-800-559-6580">+ 1 800 559 6580</a>
            <a href="tel:1-959-603-6035">+ 1 959 603 6035</a>
        </section>
        <section>
            <header>Address 2</header>
            <address>The Company Name Inc. 9863 - 9867 Mill Road, Cambridge, MG09 99HT </address>
        </section>
        <header>Contact Form</header>
        <form>
            <input type="text" placeholder="Name*" required>
            <input type="email" placeholder="Email*">
            <input type="tel" placeholder="Phone">
            <textarea rows="4" cols="50" placeholder="Comments*" required></textarea>
            <input type="submit" value="Submit">
        </form>

    </main><!-- End Component -->
</body>
</html>