<!DOCTYPE html>
<html>
<head>
	<title>WSP Component Contact Form: Sara Maneval</title>
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

        <section>
            <article id="add1">
                <h3>Address 1</h3>
                <address>The Company Name Inc.<br> 8901 Marmora Road, Glasgow, D04 89GR.</address>
            </article>
            <article>
                <h3>Telephones</h3>
                <a href="tel:1-800-559-6580">+ 1 800 559 6580</a>
                <a href="tel:1-959-603-6035">+ 1 959 603 6035</a>
            </article>
            <article>
                <h3>Address 2</h3>
                <address id="add2">The Company Name Inc. <br>9863 - 9867 Mill Road, Cambridge, MG09 99HT </address>
            </article>

            <h2>Contact Form</h2>
            <form>
                <input type="text" placeholder="Name*" required>
                <input type="email" placeholder="Email*">
                <input type="tel" placeholder="Phone">
                <textarea rows="4" cols="50" placeholder="Comments*" required></textarea>
                <input type="submit" value="Submit">
            </form>
        </section>
        <!-- End Component -->
</body>
</html>